# File thực thi
*.exe

# Nội dung trong build/ nhưng giữ lại thư mục (có .gitkeep)
build/*
!build/.gitkeep

# Thư mục VSCode
.vscode/

# Ignore file log tạm
temp_git_log.txt

# Font (bản quyền, không commit lên GitHub)
assets/font.ttf
