# Bỏ qua các thư mục rác của Visual Studio
.vs/
x64/
x86/
Debug/
Release/

# Bỏ qua các file biên dịch và hệ thống
*.obj
*.exe
*.pdb
*.user
*.ilk

# Bỏ qua các file thư viện tĩnh/động không cần thiết phải đưa lên Git
*.dll
*.lib